/*
  [CSS Index - about]
  
  ---
  
  Template Pedro Ramos || Portfolio
  Author:  Pedro Ramos
*/

/*
  1. Content
  2. Responsive
*/

/******************************1.- Content******************************/
.about {
  .center-container {
    .center-block {
      .lower-content{
        .sections {
          .row {
            .about-block {
              margin-top: -15px;
            }
          }
        }
        p {
          text-align: left;
          padding: 22px 0 0 76px;
        }
      }
    }
  } 
}

/******************************2.- Responsive******************************/
@media (min-width: 0px) { /*XS*/
    
}
@media (min-width: 576px) { /*SM*/

}
@media (min-width: 768px) { /*MD*/
 
}
@media (min-width: 992px) { /*LG*/
  .about .center-container .center-block .lower-content {
    p {
      padding: 22px 0 0 100px;
    }
    .sections .row .about-block {
      margin-top: -23px;
    }
  }
}
@media (min-width: 1200px) { /*XL*/

}
@media (min-width: 1400px) { /*XXL*/

}